<h1>List of purchased products</h1>
<ng-template *ngIf="products.length; then full; else empty"> </ng-template>

<ng-template #full>
  <ul>
    <li *ngFor="let product of products; trackBy: trackByItems">
      <app-product
        [name]="product.name"
        [description]="product.description"
        [price]="product.price"
        [id]="product.id"
      ></app-product>
    </li>
  </ul>
</ng-template>

<ng-template #empty>
  <div>
    <p>Let's go shopping!</p>
    <button>Go to shop!</button>
  </div>
</ng-template>
