<ng-template *ngIf="isEmptyCart; then empty; else full"></ng-template>
<ng-template #full>
  <h4>Total Sum: {{ totalSum }} $, Total Quantity: {{ totalQuantity }}</h4>
  <ul>
    <li *ngFor="let item of cartItems; trackBy: trackByItems">
      <app-cart-item [cartItem]="item" (QuantityIncrease)="onQuantityIncrease($event)"
        (QuantityDecrease)="onQuantityDecrease($event)" (DeleteItem)="onDeleteItem($event)">
      </app-cart-item>
      <br />
    </li>
  </ul>
</ng-template>
<ng-template #empty>
  <h3>Cart is empty</h3>
  <div>
    <p>Let's go shopping!</p>
    <button>Go to shop!</button>
  </div>
</ng-template>